.status-bar {
  display: grid;
  grid-template-columns: [linename1] 1fr [linename2] 1fr [linename3] 105px;
  position: fixed;
  width: 100%;
  padding: 5px 5px;
}
.status-bar__column:first-child i {
  margin-left: 5px;
}
.welcome-header__title {
  display: center;
}
