.nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #f7f4f7;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid rgba(133, 95, 95, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: rgba(0, 0, 0, 0.5);
}
.nav__btn {
  position: relative;
}
.nav__notification {
  background-color: tomato;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: white;
}
.nav__ellipsis {
  color: tomato;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 35px;
}
