.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 20px var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  position: relative;
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 20px;
  position: relative;
}
.screen-header__icon {
  padding-top: 7px;
}
.screen-header__ellipsis {
  color: tomato;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 23px;
  bottom: 23px;
}
